<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TFTprog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HEXtwoHEX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HUB_CAN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TFTprog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TFTprog.Properties.Settings>
            <setting name="NameResultFile" serializeAs="String">
                <value>NameResultFile</value>
            </setting>
            <setting name="DirResultGrafFile" serializeAs="String">
                <value>c:\\Projects\\WaterMassProd1\\NEWAKVAimage\\</value>
            </setting>
            <setting name="DirGrafFiles" serializeAs="String">
                <value>c:\Projects\WaterMassProd1\NEWAKVAimage\</value>
            </setting>
        </TFTprog.Properties.Settings>
        <HEXtwoHEX.Properties.Settings>
            <setting name="NameResultFile" serializeAs="String">
                <value>NameResultFile</value>
            </setting>
            <setting name="DirResultGrafFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DirGrafFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>V1.1</value>
            </setting>
            <setting name="CodeFilename" serializeAs="String">
                <value>CodeFilename</value>
            </setting>
            <setting name="StartFLASHadr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndFLASHadr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NameBaseFile" serializeAs="String">
                <value>ReverdyFLASHfile</value>
            </setting>
            <setting name="NameInsFile" serializeAs="String">
                <value>InsertFile</value>
            </setting>
            <setting name="StartInsAddr" serializeAs="String">
                <value>0x80000</value>
            </setting>
            <setting name="COMportName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="COMportBaud" serializeAs="String">
                <value>115200</value>
            </setting>
        </HEXtwoHEX.Properties.Settings>
        <FileManager.Properties.Settings>
            <setting name="NameResultFile" serializeAs="String">
                <value>NameResultFile</value>
            </setting>
            <setting name="DirResultGrafFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DirGrafFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="AllignSize" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>V1.1</value>
            </setting>
            <setting name="CodeFilename" serializeAs="String">
                <value>CodeFilename</value>
            </setting>
            <setting name="StartFLASHadr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndFLASHadr" serializeAs="String">
                <value>0</value>
            </setting>
        </FileManager.Properties.Settings>
        <HUB_CAN.Properties.Settings>
            <setting name="NameResultFile" serializeAs="String">
                <value>NameResultFile</value>
            </setting>
            <setting name="DirResultGrafFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DirGrafFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>V1.1</value>
            </setting>
            <setting name="CodeFilename" serializeAs="String">
                <value>CodeFilename</value>
            </setting>
            <setting name="StartFLASHadr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndFLASHadr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NameBaseFile" serializeAs="String">
                <value>ReverdyFLASHfile</value>
            </setting>
            <setting name="NameInsFile" serializeAs="String">
                <value>InsertFile</value>
            </setting>
            <setting name="StartInsAddr" serializeAs="String">
                <value>0x80000</value>
            </setting>
            <setting name="COMportName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="COMportBaud" serializeAs="String">
                <value>115200</value>
            </setting>
        </HUB_CAN.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TFTprog.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>V1.1</value>
            </setting>
            <setting name="CodeFilename" serializeAs="String">
                <value>CodeFilename</value>
            </setting>
            <setting name="StartFLASHadr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndFLASHadr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NameBaseFile" serializeAs="String">
                <value>ReverdyFLASHfile</value>
            </setting>
            <setting name="NameInsFile" serializeAs="String">
                <value>InsertFile</value>
            </setting>
            <setting name="StartInsAddr" serializeAs="String">
                <value>0x80000</value>
            </setting>
            <setting name="COMportName" serializeAs="String">
                <value>COM9</value>
            </setting>
            <setting name="COMportBaud" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="FolderGRAF" serializeAs="String">
                <value>c:\Projects\WaterMassProd1\NEWAKVAimage\</value>
            </setting>
            <setting name="Interface" serializeAs="String">
                <value>UART</value>
            </setting>
            <setting name="EnServMess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParamFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTableFile" serializeAs="String">
                <value />
            </setting>
            <setting name="TablesFolder" serializeAs="String">
                <value />
            </setting>
        </TFTprog.Properties.Settings>
    </applicationSettings>
</configuration>